@import "tailwindcss";
/* Google Font MUST be the first import */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-ptsans: "PT Sans", sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

body{
  background-color: white;
}
